<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">

    <%= f.label :name %><br>
    <%= f.text_field :name,  class: "form-control" %>

  </div>


  <div class="field">

    <%= f.label :email %><br>
    <%= f.text_field :email,  class: "form-control" %>

  </div>


  <div class="field">

    <%= f.label :ssid %><br>
    <%= f.text_field :ssid,  class: "form-control" %>

  </div>


  <div class="field">

    <%= f.label :person_type_id %><br>
    <%#= f.text_field :person_type_id,  class: "form-control" %>
    <%= collection_select(:person, :person_type_id, PersonType.all, :id, :name) %>

  </div>


  <div class="actions">
    <%= f.submit :class => 'btn btn-primary'  %>
  </div>
<% end %>
