<%= form_for(person_type) do |f| %>
  <% if person_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person_type.errors.count, "error") %> prohibited this person_type from being saved:</h2>

      <ul>
      <% person_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">

    <%= f.label :name %><br>
    <%= f.text_field :name,  class: "form-control" %>

  </div>


  <div class="actions">
    <%= f.submit :class => 'btn btn-primary'  %>
  </div>
<% end %>
